    {{> navbar }}

<!--<div class="container">
    <img src="/Img/action-figure-1853285.jpg" alt="50x50px">
</div>
-->

<body class="style">
    
    <div class="container">
        <div class="nav-scroller py-1 mb-2">
        </div>
    </div>


<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Implementation for Flexography</h1>
      <p class="lead my-3">This page if for save data of implementation in the flexography printing.</p>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">First Step</strong>
          <h3 class="mb-0">Benchmark</h3>
          <div class="mb-1 text-muted">Single Color</div>
          <p class="card-text mb-auto">El proceso de optimización permite conocer el comportamiento de la prensa para una condición determinada.</p>
          <a href="#" class="stretched-link">More Info. (Site Under Development)</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">1</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Second Step</strong>
          <h3 class="mb-0">P2P</h3>
          <div class="mb-1 text-muted">Four or Seven Colors</div>
          <p class="mb-auto">La calibración del balance de grises logra una similitud entre dispositivos basándose en el principio de adaptación cromática.</p>
          <a href="#" class="stretched-link">More Info. (Site Under Development)</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">2</text></svg>

        </div>
      </div>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Third Step</strong>
          <h3 class="mb-0">Finger Print</h3>
          <div class="mb-1 text-muted">Four or Seven Colors</div>
          <p class="card-text mb-auto">La perfilación de un dispositivo permite conocer la gama del mismo, pudiendo de esta forma predecir el resultado final de impresión.</p>
          <a href="#" class="stretched-link">More Info. (Site Under Development)</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">3</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Fourth Step</strong>
          <h3 class="mb-0">Certification</h3>
          <div class="mb-1 text-muted">Four o Seven Colors</div>
          <p class="mb-auto">La idea de este último paso es comprobar que el perfil funciona correctamente, pudiendo predecir en la PCP el resultado del impreso final.</p>
          <a href="#" class="stretched-link">More Info. (Site Under Development)</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">4</text></svg>

        </div>
      </div>
    </div>
  </div>





  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Flexography Printing
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">Descripción de la aplicación</h2>
        <p class="blog-post-meta">18 de Septiembre 2022 by <a href="#">Nahuel Busto Rosati</a></p>

        <p>Esta WebApp es para ayudar a los tecnicos de implementacion a cargar los datos en una forma organizada y poder enviarle dichos datos al cliente. En esta primer edicion solo pueden cargarse los parametros fijos de las prensas, los cuales luego se envian por correo.
            A su vez, para poder ingresar a la aplicación, el administrador le envia el usuario y password con el cual se deberan logear y solo podran entrar si tiene una coincidencia con los datos de la BD.
        </p>
        <hr>
        <p>Es necesario realizar ajustes para cumplir con ciertas funcionalidades.</p>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About the creator</h4>
          <p class="mb-0">Actualmente realizo implementaciones industriales y considero esta herramienta muy valiosa para organizar, compartir y analizar los datos</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">Equipment</a></li>
            <li><a href="#">Materials</a></li>
            <li><a href="#">Inks</a></li>
            <li><a href="#">Tapes</a></li>
            <li><a href="#">Plates</a></li>
            <li><a href="#">Measure Instruments</a></li>
            <li><a href="#">Softwares</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

</body>

   {{> footer }}