    {{> navbar }}

<div class="container">

<div class="row">
<form action="./mails" method="post">

    <div class="mb-3 row m-5">
        <label for="client" class="col-sm-2 col-form-label">Client:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="client" id="cliente" placeholder="Client">
    </div>
    </div>

    <div class="mb-3 row m-5">
        <label for="mailclient" class="col-sm-2 col-form-label">Mail Client:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="mailclient" id="mailcliente" placeholder="Mail Client">
    </div>
    </div>


        <button class="w-100 btn btn-lg btn-primary mt-3" type="Enviar">Enviar</button>
</form>

   {{> footer }}