
<form action="./principal" method="post">

<div class="container pt-5">
<h3>Parametros Constantes de la Implementación</h3>

<div class="row">

  <div class="col">
    <input type="text" class="form-control" id="Cod" name="Cod" placeholder="Cod Profile" aria-label="Cod">
  </div>

  <div class="col">
    <input type="text" class="form-control" id="Vel" name="Vel" placeholder="Vel m/m" aria-label="Vel m/m">
  </div>

  <div class="col">
    <input type="text" class="form-control" id="Dyn" name="Dyn" placeholder="Dynas Mat" aria-label="Dynas Mat">
  </div>

  <div class="col">
    <input type="text" class="form-control" id="Dry" name="Dry" placeholder="Dry Between Colors" aria-label="Dry Between Colors">
  </div>

  <div class="col">
    <input type="text" class="form-control" id="InkS" name="InkS" placeholder="Ink Supplier" aria-label="Ink Supplier">
  </div>

  <div class="col">
    <input type="text" class="form-control" id="InkN" name="InkN" placeholder="Ink Name" aria-label="Ink Name">
  </div>

  <div class="col">
    <input type="text" class="form-control" id="Ani" name="Ani" placeholder="Anilox Supplier" aria-label="Anilox Supplier">
  </div>

  <div class="col">
    <input type="text" class="form-control" id="Tap" name="Tap" placeholder="Tape Supplier" aria-label="Tape Supplier">
  </div>

</div>
</div>


<div class="container pt-5">
<h3>Parametros Variables de la Implementación</h3>

<div class="row">

  <div class="col">
    <input type="text" class="form-control" placeholder="Ink Color C" aria-label="Ink Color C">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Sequence C" aria-label="Sequence C">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Visc C" aria-label="Visc C">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Dry C" aria-label="Dry C">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Anilox LPI C" aria-label="Anilox LPI C">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Anilox BCM C" aria-label="Anilox BCM C">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Tape Code C" aria-label="Tape Code C">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Notes C" aria-label="Notes C">
  </div>

</div>
</div>


<div class="container pt-1">

<div class="row">

  <div class="col">
    <input type="text" class="form-control" placeholder="Ink Color" aria-label="Ink Color">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Sequence" aria-label="Sequence">
  </div>

  <div class="col">
    <input type="text" class="form-control" placeholder="Visc" aria-label="Visc">
  </div>
  
  <div class="col">
    <input type="text" class="form-control" placeholder="Dry" aria-label="Dry">
  </div>
  
  <div class="col">
    <input type="text" class="form-control" placeholder="Anilox LPI" aria-label="Anilox LPI">
  </div>
  
  <div class="col">
    <input type="text" class="form-control" placeholder="Anilox BCM" aria-label="Anilox BCM">
  </div>
  
  <div class="col">
    <input type="text" class="form-control" placeholder="Tape Code" aria-label="Tape Code">
  </div>
  
  <div class="col">
    <input type="text" class="form-control" placeholder="Notes" aria-label="Notes">
  </div>

</div>
</div>






























<div class="container pt-5">
    <div class="mb-3 text-center">
        <input type="submit" class="button btn btn-danger w-50 p-2" value="Enviar Datos">
    </div>  
</div>

</form>

